main {
  min-height: 80vh;
}
.product h3 {
  padding: 1rem 0;
}
.rating span {
  margin-right: 0.2rem;
}
.reviews {
  font-size: 0.8rem;
  color: rgb(150, 150, 150);
}
.in-stock {
  color: rgb(136, 195, 19);
}
.out-stock {
  color: rgb(211, 60, 33);
}
